.dashboard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: var(--border-radius);
    width: 100%;
    gap: 24px;
}

.dashboard__logo {
    width: 128px;
    height: fit-content;
    aspect-ratio: 3/2;
}

.dashboard__logo-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}

.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dashboard__elo-rank {
    text-align: center;
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
}

.dashboard__text-md {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.dashboard__content {
    display: flex;
    gap: 24px;
}