.game-list__game {
    background-color: hsla(0, 0%, 0%, 0.07);
    padding: 12px;
    border-radius: var(--border-radius);

    &:first-of-type {
        margin-top: 8px;
    }

    &:last-of-type {
        margin-bottom: 0px;
    }
}

