.leaderboard__table-head {
    display: flex;
    padding: 12px;
    justify-content: start;
    align-items: center;
    width: 100%;
    text-align: start;
    border-bottom: 1px solid hsla(0, 0%, 0% ,0.3);
    padding-bottom: 8px;
    margin-top: 8px;
    height: fit-content;
}

.leaderboard__sticky-head {
    position: sticky;
    display: flex;
    width: 100%;
    height: fit-content;
    top: 0px;
    background-color: white;
    font-weight: 700;
}

.leaderboard__table-logo {
    width: 200px;
    text-align: center;
    display:flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.leaderboard__table-team {
    width: 32px;
    text-align: start;
    margin-left: 24px;
    justify-self: start;
}

.leaderboard__table-box {
    display: flex;
    width: 90px;
    height: stretch;
    text-align:start;
    align-items: center;
    justify-content: center;

    &.leaderboard__diff {
        width: 32px;
    }

    &.leaderboard__elo {
        width: 80px;
    }

    &.red {
        color: rgb(209, 30, 30);
    }
    &.green {
        color: rgb(0, 122, 6);
    }
}

@media only screen and (max-width: 1200px) {
    .leaderboard__table-box {
        width: 100%;
        
        &.leaderboard__diff {
            width: 40%;
        }

        &.leaderboard__elo {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .leaderboard__division {
        display: none;
    } 

    .leaderboard__gp {
        display: none;
    }

    .leaderboard__table-box {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .leaderboard__table-logo {
        width: 78px;
        gap: 0px;
    }

    .leaderboard__team {
        display: none;
    }

    .leaderboard__table-box {
        &.leaderboard__diff {
            width: 70%;
        }
    }
    .leaderboard__table-head {
        padding: 12px 0px;
    }
}