.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit-content;
    padding: 32px;
    box-shadow: var(--box-shadow);
    gap: 16px;
}

@media only screen and (max-width: 600px) {
    .leaderboard {
        padding: 32px 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .leaderboard {
        width: 100%;
        &.hide {
            display: none;
        }
    }
}


