.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 32px;
    padding: 32px;
    margin-bottom: 0px;
    max-width: var(--max-width);
    z-index: 10;
}

@media only screen and (max-width:600px) {
    .header {
        padding: 12px;
        margin-bottom: 32px;
        top:12px;
    }
}

.header__button {
    display: flex;
    height: fit-content;
    align-self: center;
    margin-left: 8px;
    img {
        width: 42px;
        aspect-ratio: 1;
        transition: 0.3s;
    }

    :hover {
        filter: brightness(400%);
    }
}

.header__logo-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    z-index: 10;

    img {
        width: 56px;
        aspect-ratio: 1;
        object-fit: contain;
    }
}

@media only screen and (max-width:600px) {
    .header__logo-wrap {
        gap: 16px;
    }
}

.header__title {
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}