.leaderboard__team-line {
    display: flex;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 0%, .1);
}

.leaderboard__logo {
    object-fit: contain;
    aspect-ratio: 1;
    width: 64px;
}