.leaderboard__table-head {
    display: flex;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
    border-bottom: 1px solid hsla(0, 0%, 0% ,0.3);
    padding-bottom: 8px;
}

.leaderboard__table-elo {
    width: 64px;
    text-align: center;
}

.leaderboard__table-logo {
    width: 64px;
    text-align: center;
}

.leaderboard__table-team {
    width: 100%;
    text-align: start;
    margin-left: 20px;
}