.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    height: fit-content;
    padding: 32px;
    box-shadow: var(--box-shadow);
    gap: 24px;
}

.leaderboard__team-line {
    display: flex;
    padding: 6px 0px;
    justify-content: space-between;
    width: 100%;
}