* {
  margin: 0px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0px;
  justify-content: center;
  max-width: var(--max-width);
  justify-self: center;
}

.section {
  display:flex;
  flex-direction: column;
  align-items: start;
  align-self: center;
  width: 100%;
  max-width: var(--max-width);
  padding: 32px;
  gap: 16px;
  justify-content: start;

  &.across {
    flex-direction: row;
  }

  &.h-screen {
    min-height: 100vh;
  }

  &.h-90 {
    min-height: 90vh;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 12px;
  }
}

.text-center {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: center;

  &.homepage-hero {
    flex-direction: row;
    align-items: start;
  }

  &.start {
    align-items: start;
  }
}

@media only screen and (max-width: 1200px) {
  .box {
    &.homepage-hero {
      flex-direction: column;
      align-items: center;
    }
  }
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 16px;
}

/*toggle state*/
.mobile-toggle {
  display: none;
  gap: 12px;
}

#leaderboard-button {
  display: flex;
  white-space: nowrap;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: var(--border-radius);
  background-color: hsla(0, 0%, 0%, 0.09);

  &.leaderboard {
    background-color: white;
    box-shadow: var(--box-shadow);
  }
}

#upcoming-button {
  display: flex;
  white-space: nowrap; 
  border: none;
  background-color: hsla(0, 0%, 0%, 0.09);
  padding: 8px 16px;
  font-size: 16px;
  border-radius: var(--border-radius);

  &.upcoming {
    background-color: white;
    box-shadow: var(--box-shadow);
  }
}

@media only screen and (max-width: 1200px) {
    .mobile-toggle {
        display: flex;
    }
}




