:root {
  --max-width: 1400px;
  --border-radius: 8px;
  --box-shadow: 0px 5px 16px hsla(0, 0%, 0%, .05);
  --off-white: hsla(0, 0%, 100%, 0.9);
  --tint: hsla(0, 0%, 0%, 0.06);
  font-size: 10px;
}

@media only screen and (max-width:600px) {
  :root {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(0, 0%, 0%, 0.05);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 16px;
  line-height: 25px;
  
  &.shrink {
    width: 0;
    min-width: 100%;
  }

  &.balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 4.6rem;
  line-height: 5.2rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.7rem;
}

